title: Automated Open Data City Census
email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: jekyllrb
github_username:  city-census
gtm_id: 'GTM-TF7PN73'

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jemoji
  - jekyll-mentions

jekyll-mentions: https://twitter.com

sass:
  sass_dir: _sass

permalink: /news/:year/:month/:day/:title.html
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
