
<section id="banner">
	<div class="content">
		<header>
			<h1>Automated Open Data<br />
			City Census</h1>
			<p>Ein Projekt des Prototypefund</p>
		</header>
		<p>Der automatisierte City Census soll einen Vergleich der Städte Deutschlands bei Ihren Open Data Bemühungen unterstützen. Die OKF hat mit dem City Census einen guten Anfang gemacht und hat erstmalig einer breiten Öffentlichkeit einen Vergleich zwischen den Städten erlaubt. </p>

		<p>Der manuelle Prozess des City Census führt jedoch dazu, dass dieser nicht aktuell gehalten wird. Die aktuellsten Daten im OKF City Census sind von 2015, aber auch nur von drei Städten. </p>
		<ul class="actions">
			<li><a href="#" class="button big">Zum Projekt</a></li>
		</ul>
	</div>
	<span class="image object">
	</span>
</section>
